<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Audiout uses the local network to find and control the Audiout app on your Mac.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_audiout._tcp</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchGround</string>
		<key>UIImageName</key>
		<string>BrandMark</string>
	</dict>
</dict>
</plist>
